.home_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.home_container h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home_container h1 span{
    color: orchid;
    padding: 0 0.2rem;

}

.home_container p{
    margin-bottom: 1rem;
    color: lightgrey;
}