.footer{
    background-color: #222;
    color: white;
    padding: 2rem;
    text-align: center;
}

.list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.list li{
    margin: 0 1rem;
}

.list li:hover{
    color: orchid;
}

.list svg{
    font-size: 2rem;
    cursor: pointer;
}

.copy{
    margin-top: 1rem;
}

.copy span{
    font-weight: bold;
    color: orchid;
}